In [7]:
import pandas as pd

In [8]:
df_m=pd.read_excel('data/212.xlsx', skiprows=3, index_col='행정기관', usecols='B, E:Y')
df_m.head(1)

c:\Users\KOSMO\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"1,195,951","1,233,465","1,663,534","1,890,498","1,667,705","1,844,651","2,048,038","2,178,901","2,335,456","2,165,327",...,"1,556,649","1,129,517","883,074","701,439","419,877","186,554","75,904","22,020","4,651","2,607"

In [9]:
df_m.iloc[0] = df_m.iloc[0].str.replace(',','').astype(int)
df_m.head(1)

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,1195951,1233465,1663534,1890498,1667705,1844651,2048038,2178901,2335456,2165327,...,1556649,1129517,883074,701439,419877,186554,75904,22020,4651,2607

In [11]:
df_w = pd.read_excel('data/212.xlsx', skiprows=3, index_col='행정기관', usecols='B, AB:AV')
df_w.head(0)

c:\Users\KOSMO\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Empty DataFrame
Columns: [0~4세.1, 5~9세.1, 10~14세.1, 15~19세.1, 20~24세.1, 25~29세.1, 30~34세.1, 35~39세.1, 40~44세.1, 45~49세.1, 50~54세.1, 55~59세.1, 60~64세.1, 65~69세.1, 70~74세.1, 75~79세.1, 80~84세.1, 85~89세.1, 90~94세.1, 95~99세.1, 100세 이상.1]
Index: []

[0 rows x 21 columns]

In [13]:
df_m.columns

Index(['0~4세', '5~9세', '10~14세', '15~19세', '20~24세', '25~29세', '30~34세',
       '35~39세', '40~44세', '45~49세', '50~54세', '55~59세', '60~64세', '65~69세',
       '70~74세', '75~79세', '80~84세', '85~89세', '90~94세', '95~99세', '100세 이상'],
      dtype='object')

In [16]:
df_w.columns

Index(['0~4세', '5~9세', '10~14세', '15~19세', '20~24세', '25~29세', '30~34세',
       '35~39세', '40~44세', '45~49세', '50~54세', '55~59세', '60~64세', '65~69세',
       '70~74세', '75~79세', '80~84세', '85~89세', '90~94세', '95~99세', '100세 이상'],
      dtype='object')

In [15]:
df_w.columns = df_m.columns