In [31]:
import pandas as pd
temp = pd.Series([-20, -10, 10, 20])
print(temp)

0   -20
1   -10
2    10
3    20
dtype: int64

In [4]:
print(temp[0])

-20

In [6]:
temp = pd.Series([-20, -10, 10, 20], index=['Jan', 'Feb', 'Mar', 'Apr'])
print(temp)

Jan   -20
Feb   -10
Mar    10
Apr    20
dtype: int64

In [7]:
print(temp['Feb'])

-10

In [5]:
print(temp('Jun'))

TypeError: 'Series' object is not callable

In [8]:
data = {
 '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'], '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
 '키' : [197, 184, 168, 187, 188, 202, 188, 190],
 '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
 '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
 '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
 '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
 '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
 'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}
data, type(data)

({'이름': ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
  '학교': ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
  '키': [197, 184, 168, 187, 188, 202, 188, 190],
  '국어': [90, 40, 80, 40, 15, 80, 55, 100],
  '영어': [85, 35, 75, 60, 20, 100, 65, 85],
  '수학': [100, 50, 70, 70, 10, 95, 45, 90],
  '과학': [95, 55, 80, 75, 35, 85, 40, 95],
  '사회': [85, 25, 75, 80, 10, 80, 35, 95],
  'SW특기': ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']},
 dict)

In [10]:
data['이름']

['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협']

In [12]:
import pandas as pd
df = pd.DataFrame(data)
df, type(df)

(    이름   학교    키   국어   영어   수학  과학  사회        SW특기
 0  채치수  북산고  197   90   85  100  95  85      Python
 1  정대만  북산고  184   40   35   50  55  25        Java
 2  송태섭  북산고  168   80   75   70  80  75  Javascript
 3  서태웅  북산고  187   40   60   70  75  80
 4  강백호  북산고  188   15   20   10  35  10
 5  변덕규  능남고  202   80  100   95  85  80           C
 6  황태산  능남고  188   55   65   45  40  35      PYTHON
 7  윤대협  능남고  190  100   85   90  95  95          C#,
 pandas.core.frame.DataFrame)

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df['이름']

0    채치수
1    정대만
2    송태섭
3    서태웅
4    강백호
5    변덕규
6    황태산
7    윤대협
Name: 이름, dtype: object

In [17]:
temp1=df[['이름', '키', '학교', '국어']]
temp1

    이름    키   학교   국어
0  채치수  197  북산고   90
1  정대만  184  북산고   40
2  송태섭  168  북산고   80
3  서태웅  187  북산고   40
4  강백호  188  북산고   15
5  변덕규  202  능남고   80
6  황태산  188  능남고   55
7  윤대협  190  능남고  100

In [18]:
temp1.shape

(8, 4)

In [19]:
df = pd.DataFrame(data, columns=['이름', '학교'])
df

    이름   학교
0  채치수  북산고
1  정대만  북산고
2  송태섭  북산고
3  서태웅  북산고
4  강백호  북산고
5  변덕규  능남고
6  황태산  능남고
7  윤대협  능남고

In [21]:
df = pd.DataFrame(data)
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80
4  강백호  북산고  188   15   20   10  35  10
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#

In [22]:
df = pd.DataFrame(data, index=['1번','2번', '3번', '4번', '5번', '6번', '7번', '8번'])

In [23]:
df.index

Index(['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'], dtype='object')

In [24]:
df.index.name='지원번호'
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80
5번    강백호  북산고  188   15   20   10  35  10
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [25]:
df.reset_index()

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  채치수  북산고  197   90   85  100  95  85      Python
1   2번  정대만  북산고  184   40   35   50  55  25        Java
2   3번  송태섭  북산고  168   80   75   70  80  75  Javascript
3   4번  서태웅  북산고  187   40   60   70  75  80
4   5번  강백호  북산고  188   15   20   10  35  10
5   6번  변덕규  능남고  202   80  100   95  85  80           C
6   7번  황태산  능남고  188   55   65   45  40  35      PYTHON
7   8번  윤대협  능남고  190  100   85   90  95  95          C#

In [27]:
df.reset_index(drop=True, inplace=True)

In [28]:
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80
4  강백호  북산고  188   15   20   10  35  10
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   45  40  35      PYTHON
7  윤대협  능남고  190  100   85   90  95  95          C#